input:checked ~ img {
  visibility: hidden;
}
#input {
  position: relative;
  left: 40px;
}
a {
  font-size: 30px;
  background-color: red;
  color: black;
  position:relative;
  left:50%;
}
body{
  background-image: url(background-la-gi-1.jpg);
  background-size: 1080px 720px;
  color: aqua;
}
pre{
  line-height:2px;
  font-size: x-large;
}
img{
  width:500px
}
