h1 {
  color: black;
}
body {
  background-image: url(background-la-gi-1.jpg);
  background-size: 1550px 730px;
}
#signin {
  position: relative;
  top: -40px;
}
#name {
  position: relative;
  transform: translate(9px, -80px);
}
#pass {
  position: relative;
  transform: translate(9px, -75px);
}
#accept {
  position: relative;
  transform: translate(50px, 10px);
}
#khung {
  top: 140px;
  position: relative;
  left: 660px;
  height: 300px;
  width: 250px;
  border: 3px solid black;
  padding: 30px;
  background-color: rgb(255, 255, 255);
}
.button{
display: inline-block;
padding: 8px 16px;
background-color: black;
text-decoration: none;
border-radius: 4px;
color: white;
position:relative;
left: 40px;
}
